<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zafu.engineercar"
    android:versionCode="1"
    android:versionName="1.0">
    <!--NFC权限-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <!--IMEI权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--name属性和数据库相关，误改动-->
    <application
        android:name="cn.edu.zafu.engineercar.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >

           <!-- 注释打开后软件关闭情况下刷nfc也能打开应用
           <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>
